.Chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 10px;
    padding: 0px 15px;
    min-height: calc(84vh - 80px);
}

.Begin{
    color: var(--color4);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.Chat::-webkit-scrollbar {
    width: 10px;
}

.Chat::-webkit-scrollbar-track {
    background: var(--color1);
    border-radius: 5px;
}

.Chat::-webkit-scrollbar-thumb {
    background: var(--color3);
    border-radius: 5px;
}

.Chat::-webkit-scrollbar-thumb:hover {
    background: var(--color3-dark);
}

@media(max-width: 900px){
    .Chat{
        max-width: none;
        width: 100vw;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        margin-top: 10px;
        padding: 0px 10px;
        min-height: calc(85vh - 30px);
    }
    .Chat::-webkit-scrollbar {
        width: 5px;
    }
}