*{
  --color1: #F1ECC3;
  --color1-dark: #c4bf9f;
  --color2: #C9D8B6;
  --color2-dark: #bac7a8;
  --color3: #57837B;
  --color3-dark: #446660;
  --color4: #515E63;
  --color4-dark: #373f42;
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;

}

body.preload *{
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color2-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
