.Title{
    font-size: 20px;
    font-weight: bold;
    color: var(--color1);
    margin: 0px 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.Title:hover{
    color: var(--color1-dark)
}