.Items{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.Icon{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    background-color: var(--color4-light);
    color: var(--color1);
    padding: 10px 10px;
}

.Icon:hover{
    background-color: var(--color4-dark);
}

.Active.isActive{
    color: var(--color1) !important
}

a{
    text-decoration: none;
}

.Icon:hover{
    color: var(--color1)
}

img{
    width: 60px;
    height: 60px;
}

a{
    text-decoration: none;
    color: var(--color1);
    font-size: 20px;
}

/* a:hover{
    color: var(--color1-light)
} */

.MobileOnly{
    display: none;
}

@media(max-width: 900px){
    .Items{
        flex-flow: column;
        margin: 50px 0px;
    }

    a{
        font-size: 25px;
    }

    .MobileOnly{
        display: block;
    }
}