.Info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--color2-dark);
    height: 10vh;
}

.Profile{
    margin: 0px 10px;
    display: flex;
}

.BackIcon{
    color: var(--color3);
    margin-right: -5px;
    margin-left: 5px
}

.Name{
    font-size: 20px;
    font-weight: 500;
    color: var(--color4)
}

.Name:hover{
    color: var(--color4-dark)
}


.MobileOnly{
    display: none;
}

@media(max-width: 900px){
    .MobileOnly{
        display: flex;
        align-items: center;
    }
}