.Friend{
    border-radius: 30px;
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 10px;
    background-color: var(--color1-dark);
    margin: 5px 5px;
    cursor: pointer;
    height: 10vh;
}

.Friend:hover{
    background-color: var(--color1-light);
}

.onlineFriend{
    background-color: var(--color1);
}

.Info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}

.Name{
    margin: 2px 2px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.Email{
    margin: 2px 2px;
    font-size: 10px;
    cursor: pointer;

}

.Spinner{
    width: 45px !important;
    height: 45px !important;
    color: var(--color3) !important;

}

@media(max-width: 900px){
    .Friend{
        border-radius: 30px;
        width: 100%;
    }

}